* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

a {
  text-decoration: none;
}

html {
  font-size: calc(100vmin / 32);
}

form {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  width: 70vw;
  margin: 2rem auto 0 auto;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0.2rem 0.25rem 1.2rem 0.1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0.2rem 0.25rem 1.2rem 0.1rem rgba(0, 0, 0, 0.6);
}

form .form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem auto;
}

form .form-element select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.3rem 0.5rem;
  margin: 1rem auto 0;
  border: 0.1rem solid #e12885;
  border-radius: 1rem;
  text-align: justify;
  text-align-last: center;
  font-size: 1rem;
}

.grid {
  max-width: 70vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(11rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-gap: 2rem;
}

.grid .item {
  font-family: Helvetica-Light, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0.3rem 0.35rem 1.5rem 0.3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.3rem 0.35rem 1.5rem 0.3rem rgba(0, 0, 0, 0.5);
}

.grid .item h3 {
  font-size: 1.5rem;
}

.grid .item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #137a7f;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.grid .item:hover::after {
  top: 0;
  opacity: 0.9;
}

.grid .item:hover .links .link *,
.grid .item:hover .links span {
  opacity: 1;
  pointer-events: all;
}

.grid .item .links {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.grid .item .links span {
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.grid .item .links .link * {
  opacity: 0;
  pointer-events: none;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.grid .item .links .link:hover * {
  color: #e12885;
}

#scroll {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0.5rem 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: #137a7f;
  border: 1.5px solid #e12885;
  color: #e12885;
  z-index: 2;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(160deg, rgba(19, 122, 127, 0.8) 5rem, transparent 15rem), linear-gradient(-20deg, rgba(19, 122, 127, 0.8) 5rem, transparent 15rem);
  background-attachment: fixed;
  font-family: "NicoMoji+", ToppanBunkyuMidashiGothicStdN-ExtraBold, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  height: 100%;
}

main {
  padding: 2rem;
}

main h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

main h2 span {
  font-size: 3.5rem;
  color: #e12885;
}
/*# sourceMappingURL=main.css.map */