@font-face {
  font-family: "nico";
  src: url("../fonts/nicomoji-plus_1.11.ttf") format("truetype");
}

@font-face {
  font-family: "hans";
  src: url("../fonts/SourceHanSans-Medium.otf") format("opentype");
}

@-webkit-keyframes showList {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes showList {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 ----------- */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 5rem);
}

.home * {
  text-align: center;
  margin: auto;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background: linear-gradient(160deg, rgba(134, 206, 203, 0.9) 5rem, transparent 15rem), linear-gradient(-20deg, rgba(134, 206, 203, 0.9) 5rem, transparent 15rem);
  background-attachment: fixed;
  height: 100vh;
}

.loading * {
  text-align: center;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  height: 5.3rem;
  background-color: #e12885;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.header__title {
  text-align: center;
  font-size: 2rem;
}

.header__info {
  font-size: 1.7rem;
}

.header__info--emphasis {
  font-size: 2rem;
  color: #86cecb;
}

@media only screen and (min-width: 1224px) {
  .header {
    height: 4rem;
  }
  .header__title {
    font-size: 2.5rem;
  }
  .header__info {
    font-size: 2rem;
  }
  .header__info--emphasis {
    font-size: 2.5rem;
    color: #86cecb;
  }
}

.form {
  min-width: 50vw;
}

.form__dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.form__dropdown:hover .form__dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: showList 1s ease-in-out;
          animation: showList 1s ease-in-out;
}

@media only screen and (min-width: 1224px) {
  .form__dropdown {
    width: 8rem;
  }
}

.form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  border: none;
  width: 7rem;
  height: 3.5rem;
  font-size: 1.5rem;
  font-family: inherit;
}

.form__button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

@media only screen and (min-width: 1224px) {
  .form__button {
    width: 7rem;
    height: 3rem;
  }
}

.form__dropdown-content {
  display: none;
  position: absolute;
  min-width: 8vw;
  width: 8rem;
  background-color: #fff;
  -webkit-box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgba(0, 0, 0, 0.5);
}

.form__link {
  font-size: 1.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  color: #000;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.form__link:hover {
  background-color: #86cecb;
}

.form__link-text {
  text-align: center;
  color: #000;
  margin: auto;
}

.grid {
  max-width: 70vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 2rem;
  z-index: 1;
}

.grid .item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding-top: 1rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0.3rem 0.35rem 1.5rem 0.3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.3rem 0.35rem 1.5rem 0.3rem rgba(0, 0, 0, 0.5);
}

.grid .item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 1.7rem;
  text-align: center;
  padding: 0 0.5rem;
  font-family: "hans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1224px) {
  .grid .item {
    position: relative;
    padding: 1rem;
  }
  .grid .item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #86cecb;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  .grid .item:hover::after {
    top: 0;
    opacity: 0.9;
  }
  .grid .item:hover .links .link *,
  .grid .item:hover .links span {
    opacity: 1;
  }
}

.grid .item .links {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #86cecb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.grid .item .links a {
  color: #e12885;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 1224px) {
  .grid .item .links {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: transparent;
  }
  .grid .item .links a {
    padding: 0;
  }
  .grid .item .links span {
    opacity: 0;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .grid .item .links .link * {
    opacity: 0;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .grid .item .links .link:hover * {
    color: #e12885;
  }
}

#scroll {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0.5rem 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  background-color: #fff;
  border: 1.5px solid #e12885;
  z-index: 2;
  opacity: 0.7;
  color: #e12885;
  text-align: center;
}

#scroll span {
  line-height: 3rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "nico", ToppanBunkyuMidashiGothicStdN-ExtraBold, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body #root {
  height: 100%;
}

html {
  font-size: calc(100vmin / 32);
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
}

main {
  padding: 1rem 2rem;
  min-height: calc(100vh - 5.3rem);
  min-width: 100vw;
  background: linear-gradient(160deg, rgba(134, 206, 203, 0.9) 5rem, transparent 15rem), linear-gradient(-20deg, rgba(134, 206, 203, 0.9) 5rem, transparent 15rem);
  background-attachment: fixed;
}

@media only screen and (min-width: 1224px) {
  main {
    min-height: calc(100vh - 4rem);
  }
}

.space {
  padding-top: 5.3rem;
}

@media only screen and (min-width: 1224px) {
  .space {
    padding-top: 4rem;
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 5rem);
}

.error * {
  text-align: center;
  margin: auto;
}

.error img {
  height: 16rem;
}

@media only screen and (min-width: 1224px) {
  .error img {
    height: 13rem;
  }
}
/*# sourceMappingURL=main.css.map */