@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade--active {
	animation: fade 0.7s ease-in-out forwards;
}

@keyframes showList {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes showLinks {
	0% {
		display: none;
		position: absolute;
		opacity: 0;
		height: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}

	50% {
		position: static;
		height: 25%;
	}

	100% {
		display: flex;
		opacity: 1;
		height: 50%;
	}
}
