$primary-color: #e12885;
$secondary-color: #86cecb;
$font-color: #373b3e;
$header-height-mobile: 5.3rem;
$header-height-lg: 4rem;

@font-face {
	font-family: "nico";
	src: url("../fonts/nicomoji-plus_1.11.ttf") format("truetype");
}
@font-face {
	font-family: "hans";
	src: url("../fonts/SourceHanSans-Medium.otf") format("opentype");
}

@mixin nico-font {
	font-family: "nico", ToppanBunkyuMidashiGothicStdN-ExtraBold,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

@mixin Hans-font {
	font-family: "hans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@mixin reset {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		line-height: 1;
	}
	a {
		text-decoration: none;
	}
}

@mixin background-gradient {
	background: linear-gradient(
			160deg,
			rgba($color: $secondary-color, $alpha: 0.9) 5rem,
			transparent 15rem
		),
		linear-gradient(
			-20deg,
			rgba($color: $secondary-color, $alpha: 0.9) 5rem,
			transparent 15rem
		);
	background-attachment: fixed;
}

@keyframes showList {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
