$primary-color: #e12885;
$secondary-color: #137a7f;

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@mixin reset {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		line-height: 1;
	}
	a {
		text-decoration: none;
	}
}

html {
	font-size: calc(100vmin / 32);
}
