.error {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: $background-color;
	@include main-height;
	* {
		text-align: center;
		margin: auto;
		font-size: 2rem;
	}

	// &__image {
	// 	height: 16rem;
	// 	@include desktop-laptop {
	// 		height: 13rem;
	// 	}
	// }
}
