.error {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 5rem);
	* {
		text-align: center;
		margin: auto;
	}

	&__image {
		height: 16rem;
		@include desktop-laptop {
			height: 13rem;
		}
	}
}
