.form {
	min-width: 50vw;
	.dropdown {
		position: relative;
		display: inline-block;
		margin-left: 1rem;

		&:hover {
			.dropdown-content {
				display: flex;
				flex-direction: column;
				animation: showList 1s ease-in-out;
			}

			.grid {
				.item {
					pointer-events: none;
				}
			}
		}

		button {
			background-color: #fff;
			border: none;
			width: 7rem;
			height: 3.5rem;
			font-size: 1.5rem;
			border-radius: 0.2rem;
			font-family: inherit;

			&:hover {
				background-color: darken($color: #fff, $amount: 10%);
				cursor: pointer;
			}

			@include desktop-laptop {
				width: 7rem;
				height: 3rem;
			}
		}

		&-content {
			display: none;
			position: absolute;
			min-width: 8vw;
			width: 8rem;
			background-color: #fff;

			a {
				font-size: 1.5rem;
				height: 3.5rem;
				display: flex;
				width: 100%;
				text-align: center;
				color: #000;
				transition: all 0.2s ease-out;
				&:hover {
					background-color: $secondary-color;
				}

				span {
					text-align: center;
					color: #000;
					margin: auto;
				}
			}

			@include desktop-laptop {
				width: 8rem;
			}
		}
	}
}
