form {
	background-color: rgba($color: #ffffff, $alpha: 0.6);
	width: 70vw;
	margin: 2vw auto 0 auto;
	padding: 0.5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	box-shadow: 5px 6px 18px 1px rgba(0, 0, 0, 0.6);
	.form-element {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.5vw auto;
		select {
			appearance: none;
			padding: 0.3rem 0.5rem;
			margin: 1vw auto 0;
			border: 2px solid $primary-color;
			border-radius: 15px;
			text-align: justify;
			text-align-last: center;
		}
	}
}
