.grid {
	max-width: 70vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-gap: 2rem;
	z-index: 1;
	.item {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 10vh;
		padding-top: 1rem;
		background: rgba($color: #fff, $alpha: 0.7);
		box-shadow: 0.3rem 0.35rem 1.5rem 0.3rem rgba(0, 0, 0, 0.5);

		h3 {
			display: flex;
			height: 100%;
			font-size: 1.7rem;
			text-align: center;
			padding: 0 0.5rem;
			@include Hans-font;
			align-items: center;
		}

		@include desktop-laptop {
			position: relative;
			padding: 1rem;

			&::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				height: 100%;
				width: 100%;
				background: $secondary-color;
				opacity: 0;
				@include transition-ease;
				z-index: 2;
			}

			&:hover {
				&::after {
					top: 0;
					opacity: 0.9;
				}
				.links .link *,
				.links span {
					opacity: 1;
				}
			}
		}

		.links {
			width: 100%;
			margin-top: 0.5rem;
			padding: 0.5rem;
			background-color: $secondary-color;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;

			a {
				color: $primary-color;
				display: inline-block;
				font-size: 1.2rem;
				padding: 0.5rem;
			}

			@include desktop-laptop {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				z-index: 3;
				margin: auto;
				text-align: center;
				background-color: transparent;

				span {
					opacity: 0;
					color: #fff;
					@include transition-ease;
				}

				.link {
					* {
						opacity: 0;
						color: #fff;
						@include transition-ease;
					}

					&:hover {
						* {
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}
