.header {
	position: fixed;
	width: 100%;
	height: $header-height-mobile;
	background-color: $primary-color;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 999;

	&__title {
		background-image: linear-gradient(to right, $font-color, $secondary-color);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		text-align: center;
		font-size: 2rem;
	}

	&__info {
		font-size: 1.7rem;

		&--emphasis {
			font-size: 2rem;
			color: $secondary-color;
		}
	}

	@include desktop-laptop {
		height: $header-height-lg;

		&__title {
			font-size: 2.5rem;
		}

		&__info {
			font-size: 2rem;

			&--emphasis {
				font-size: 2.5rem;
				color: $secondary-color;
			}
		}
	}
}
