.home {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 5rem);
	* {
		text-align: center;
		margin: auto;
	}
}

.space {
	padding-top: $header-height-mobile;

	@include desktop-laptop {
		padding-top: $header-height-lg;
	}
}

.loading {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	@include background-gradient;
	height: 100vh;
	* {
		text-align: center;
		margin: auto;
	}
}
