@import "reset";
@import "config";
@import "form";
@import "grids";
@import "scroll-btn";
@include reset;

body {
	height: 100%;
	min-height: 100vh;
	background: linear-gradient(
			160deg,
			rgba($color: $secondary-color, $alpha: 0.8) 5rem,
			transparent 15rem
		),
		linear-gradient(
			-20deg,
			rgba($color: $secondary-color, $alpha: 0.8) 5rem,
			transparent 15rem
		);
	background-attachment: fixed;
	font-family: "NicoMoji+", ToppanBunkyuMidashiGothicStdN-ExtraBold,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

#root {
	height: 100%;
}

main {
	padding: 2rem;
	h2 {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 2rem;

		span {
			font-size: 3.5rem;
			color: $primary-color;
		}
	}
}
