@import "config";
@import "media";
@import "home";
@import "header";
@import "form";
@import "grids";
@import "scroll-btn";
@include reset;

body {
	height: 100%;
	min-height: 100vh;
	min-width: 100vw;
	@include nico-font;
	#root {
		height: 100%;
	}
}

html {
	font-size: calc(100vmin / 32);
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
}

main {
	padding: 1rem 2rem;
	min-height: calc(100vh - $header-height-mobile);
	min-width: 100vw;
	@include background-gradient;
	.error {
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 5rem);
		* {
			text-align: center;
			margin: auto;
		}

		img {
			height: 16rem;
			@include desktop-laptop {
				height: 13rem;
			}
		}
	}

	@include desktop-laptop {
		min-height: calc(100vh - $header-height-lg);
	}
}
