@import "config";
@import "home";
@import "header";
@import "form";
@import "grids";
@import "scroll-btn";
@include reset;

body {
	height: 100%;
	min-height: 100vh;
	@include nico-font;
	#root {
		height: 100%;
	}
}

html {
	font-size: calc(100vmin / 32);
	scroll-behavior: smooth;
}

main {
	padding: 1rem 2rem;
	min-height: calc(100vh - 3rem);
	@include background-gradient;
	.error {
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 5rem);
		* {
			text-align: center;
			margin: auto;
		}
	}
}
